html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

@media screen and (max-width: 400px) {
    .body {
        
    }
    
}

.body {
    display: block;
    width: 100%;
    background-image: url(../image/backgroundImage.png);
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: round;
    background-attachment: fixed;
 
}

.body__container {
    position: absolute;
    padding: 1%;
    padding-top: 0.5%;
    min-width: 350px;
    max-width: 500px;
    max-height: 300px;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.8;
}

.form__header {
    text-align: center;
    margin: 0 auto;
    color: teal;
    font-size: 32px;
}

.amount {
    margin: 0 auto;
    width: 50%;
    padding: 1.5%;
    border-radius: 1px;
    border-color: rgb(199, 199, 199);
    border-radius: 3px;
 
}

.textInfo {
    display: block;
    text-align: center;
    color: teal;
}

.currencySelect {
    border: 2px solid rgb(199, 199, 199);
    width: 50%;
    padding: 1.5%;
    border-radius: 3px;
}

.button {
    background-color: teal;
    color: white;
    border: none;
    line-height: 2;
    width: 100%;
    border-radius: 3px;
}

.form__Info {
    font-size: 12px;
    color: grey;
}
/* --------------------------------------------------- */
.form__input {
    max-width: 20%;
}

.form__result {
    border: 2px solid teal;
    border-radius: 3px;
    padding: 1.5%;
    background-color: white;
    text-align: center;
    color: teal;
}